.header__weight {
  display: flex;
  height: 56px;
  background-color: rgba(167, 124, 93, 1);
  align-items: center;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.header__weight--menu {
  margin-left: 16.25px;
}

.header__weight--font {
  margin-left: 16px;
  letter-spacing: 0.5px;
}

.header__weight--plus {
  margin-left: 178px;
}
